body{
    background-color: rgb(136, 172, 187);
}

h1 {   
    color: black;
    display: flex;
    justify-content: center;
    margin: 5px;
    padding: 50px;
    font-size: 45px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

form{
    display: flex;
    justify-content: center;    
}

table{
    font-size: 30px;   
    padding: 3% 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a{
    text-decoration: none;
    color: black;
}

.encabezado{
    color: brown;
    font-size: 40px;
    border: solid 2px;
}

.btn-logout{
    color: grey;
    background-color: black;
    text-decoration: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: solid 2px;
    padding:5px;
    font-size: 20px;
}

.hidden{
    display: none;
}

ul {
    padding-left: 2rem;
    list-style-type: none;
}
  
ul li {
    padding-left: 3rem;
    background-position: 0 0;
    background-size: 2rem;
    background-repeat: no-repeat;   
}

.serieporCanal{
    padding-left: 2rem;
    width: 50%;
}

.canales{
    text-align:center;
    font-weight: bold;
}

#listacanales, ul{
    padding-left: 30%;
}